.pagination{
  display: flex;
  align-items: center;
  margin: 4.5rem auto 2.5rem auto;
  li{
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 1px solid #67420E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-family: var(--fm);
    color: #67420E;
    border-radius: 50%;
    margin-right: .5rem;
    &:last-of-type{
      margin-right: 0rem;
    }
    svg{
      fill: #67420E;
      width: 1rem;
      height: 1rem;
    }
  }

  &-nextBtn,
  &-prevBtn{
    outline: none;
    background: none;
    border: none;
  }

  &-item{

    &:hover{
      background: #67420E;
      color: white;
      svg{

        fill: white;
      }
    }
  }

  &-active{
    background: #67420E !important;
    color: white !important;

    svg{
      fill: white;
    }

    &:hover{
      background: #F3EFED;
      color: #67420E;

      svg{
        fill: #67420E;
      }
    }
  }

}

.pagination-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}