.reviewsHero{
  height: 35rem;
	position: relative;
	margin-bottom: -18rem;
	padding-top: 6.5rem;

  &__bg {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
		z-index: -1;

		img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
		}
	}

  &__leaf{
    left: auto;
		right: 0;
		transform: scaleX(-1);
  }

}


@media (max-width: 767px) {
.reviewsHero {
		height: 12rem;
		margin-bottom: 0;
		padding-top: 8rem;

		&__leaf{
			display: none;
		}
	}
}
