
.header {
  width: 100%;
  background: white;
  padding: 0.8rem 0rem 0.8rem 10.5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 1.5rem .5px 1.5rem 0rem rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 9999999999999;
  &-navigation{
    display: flex;
    align-items: center;
    width: 100%;
    &-mobile{
      display: none;
    }
    &-phoneIcon{
          margin-right: .75rem;
          width: 2.2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #67420E;
          border-radius: 50%;
          transition: all .4s;
          &:hover {
            background: #67420E;
            color: white;
            svg{
              fill: white;
            }
          }
          svg{
            width: .75rem;
            height: .75rem;
          }     
    }

    &-menu {
      margin-right: 0.65rem;
      margin-top: 0.3rem;
      width: 2.2rem;
      height: 2rem;
      transition: all .4s;
      svg {
        width: 100%;
        height: 100%;
      }

    }

    &-logo{
      width: 8.5rem;
      height: 2.702rem;
      margin-right: 7.35rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-nav{
      display: flex;
      align-items: center;
      li{
        margin-right: 2.5rem;
        a{
          color: #000;
          font-size: 0.9rem;
          font-weight: 500;
          font-family: var(--fm);
          &:hover{
            color: #67420E;

          }
        }
      }

    }

    &-right{
      display: flex;
      align-items: center;

      button{
        border: none;
        outline: none;
      }
      &-lang{
        width: 3.65rem;
        height: 2rem;
        padding: 0.45rem;
        border: none;
        outline: none;
        border-radius: 5rem;
        background: #F8F8F8;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all .4s;

        &:hover{
          background: #67420E;
          span {
            color:#fff;
          }
        }
        img {
          width: 1.1rem;
          height: 1.1rem;
        }
        span {
          color: #000;
          font-family: var(--fm);
          font-size: 0.75rem;
          font-weight: 400;
          margin-left: .3rem;
        }

      }

      &-contact{
        margin-left: 3.25rem;
        display: flex;
        align-items: center;


        a {
          color: #000;
          text-align: center;
          font-family: var(--fm);
          font-size: .9rem;
          font-weight: 600;
          line-height: 150%; 

          &:hover{
            color: #67420E;
          }
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .header {
    padding: 0.8rem 0rem 0.8rem 0rem;
  }
}


@media (max-width: 810px) {
  .header {
    padding: 0.8rem 0rem 0.8rem 0.3rem;

    &-navigation{
      flex-direction: row-reverse;
      justify-content: space-between;

      &-mobile{
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
      }
      &-logo{
        margin:0rem 1.5rem 0rem 3.85rem;
        width: 6.05rem;
        height: 1.923rem;
        img{
          width: 100%;
          height: 100%;
        }

      }
      &-phoneIcon{
        display: flex;
      }
      &-nav{
        display: none;
      }

      &-right{
        &-contact{
            display: none;    
        }
      }


    }

  }
}


@media (max-width: 1024px) {
  .header {
    .container{
      max-width: 100%;
    }
    padding: 0.8rem 0rem 0.8rem 0rem;
    &-navigation{
      flex-direction: row-reverse;
      justify-content: space-between;


      &-mobile{
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
      }
      
      &-nav{
        display: none;
      }

      &-right{
        &-contact{
            display: none;    
        }
      }

    }
  }
  
}