//  _________ FONTS _________

// @import './fontFamily.scss';

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

//___________MIXINS____________

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin trans {
  transition: 0.4s all;
}

@mixin btn {
  border: none;
  outline: none;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absoluteCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absoluteCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//___________COMMOM____________

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ::-webkit-scrollbar {
//   width: 0;
// }


::-webkit-scrollbar {
	width: .5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #ddd;
}

::-webkit-scrollbar-thumb {
	background: #67420E;
}


:root {
  font-size: 20px;
  --fj: "Jost", sans-serif;
  --fm: "Montserrat", sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  display: block;
}

a {
  transition: 0.3s all;
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.layout {
  width: 100%;
  height: 100%;
}
strong {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 65rem;
  min-width: 19.5rem;
  padding: 0 !important;
  margin: 0 auto;
}

.fadeIn {
  animation: fadeIn 0.5s forwards ease-in;
  transition: all 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 0.5s forwards ease-in;
  transition: all 0.3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animatedPage {
  width: 100%;
  background: #694316ff url(../../assets/images/pattern.png) top center
    no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  &-wrapp {
    position: absolute;
  }
}

@media (max-width: 1024px) {
  .animatedPage {
    height: 100vh;
  }
}

/* _____________MEDIA QUERY__________ */

@import "./media.scss";
